@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./images/dungeon_4.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}




header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    position: absolute;
    top: 2%;
    left: 12.5%;
    transform: rotate(20deg);
    max-width: 90px;


}




.logo {
    padding-top: 1rem;
    font-size: 2em;
    color: #fff;
    user-select: none;


}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

#product1 h2 {
    font-size: 3em;
    color: #fff;
    margin-top: 100px;
    position: relative;
    padding-bottom: 50px;


}

#product1 .pro {
    width: 23px;
    min-width: 200px;
    padding: 10px 12px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    background: #fff;
    margin-right: 1rem;
    transition: 0.2s;
    cursor: pointer;

}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .desc {
    text-align: center;
    padding: 10px 0;
}

#product1 icon {
    color: #fff;
}

#product1 .pro .icon-cart {
    width: 30px;
    height: 30px;
    line-height: 40px;
    color: #fff;
    font-weight: 500;
    padding: 0.3rem;
    border-radius: 50px;
    background-color: #d62424f3;

}